<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styling.css') }}">
    <title>Contact Us</title>
</head>
<body style="background-color:#3f3f3f;">
    <h1>Contact Us</h1>
    <div class="grid-container">
        <div class="grid-item">
            <h4>Leah C. Gentile</h4>
            <p> (982) - 678 - 1924</p>
        </div>
        <div class="grid-item">
            <h4>Eriun Almanzar Reyes</h4>
            <p>(794) - 873 - 7355</p>
        </div>
    </div>
    <div style="margin: 20px;">
        <a href="/dashboard" style="text-decoration: none;">Go Back</a>
    </div>
</body>
</html>