html{
    overflow-x: hidden;
        }
body {
height: 100%;
}

body {
margin: 0;
background-color: #3f3f3f;
overflow: hidden;
}
/* .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 0px;
}  */
nav {
position: absolute;
top: 7%;
right: 0;
/* left: 0; */
width: 319px;
display: table;
margin-right: 0px;
}

nav a {
position: relative;
width: 33.333%;
display: table-cell;
text-align: center;
color: #673ab7;
text-decoration: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
padding: 10px 20px;
transition: 0.2s ease color;
}

nav a:before,
nav a:after {
content: "";
position: absolute;
border-radius: 50%;
transform: scale(0);
transition: 0.2s ease transform;
}

nav a:before {
top: 0;
left: 10px;
width: 6px;
height: 6px;
}

nav a:after {
top: 5px;
left: 18px;
width: 4px;
height: 4px;
}

nav a:nth-child(1):before {
background-color: yellow;
}

nav a:nth-child(1):after {
background-color: red;
}

nav a:nth-child(2):before {
background-color: #00e2ff;
}

nav a:nth-child(2):after {
background-color: #89ff00;
}

nav a:nth-child(3):before {
background-color: purple;
}

nav a:nth-child(3):after {
background-color: palevioletred;
}
nav a:nth-child(4):before {
background-color: rgb(62, 128, 0);
}
    
nav a:nth-child(4):after {
background-color: rgb(197, 142, 40);
}
nav a:nth-child(5):before {
background-color: rgb(128, 0, 0);
}
        
nav a:nth-child(5):after {
background-color: rgb(134, 40, 197);
}
nav a:nth-child(6):before {
background-color: rgb(128, 126, 0);
}
            
nav a:nth-child(6):after {
background-color: rgb(40, 147, 197);
}
nav a:nth-child(7):before {
background-color: rgb(0, 128, 32);
}

nav a:nth-child(7):after {
background-color: rgb(184, 40, 197);
}
nav a:nth-child(8):before {
background-color: rgb(128, 0, 0);
}

nav a:nth-child(8):after {
background-color: rgb(2, 18, 26);
}
nav a:nth-child(9):before {
background-color: rgb(0, 128, 85);
}

nav a:nth-child(9):after {
background-color: rgb(15, 97, 138);
}
nav a:nth-child(10):before {
background-color: rgb(105, 128, 0);
}

nav a:nth-child(10):after {
background-color: rgb(138, 15, 117);
} 
#indicator {
position: absolute;
left: 5%;
bottom: 0;
width: 30px;
height: 3px;
background-color: #fff;
border-radius: 5px;
transition: 0.2s ease left;
}

nav a:hover {
color: #fff;
}

nav a:hover:before,
nav a:hover:after {
transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator {
left: 2.5%;
background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(2):hover ~ #indicator {
left: 11%;
background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover ~ #indicator {
left: 22.5%;
background: linear-gradient(130deg, purple, palevioletred);
}

nav a:nth-child(4):hover ~ #indicator {
left: 33.5%;
background: linear-gradient(130deg, rgb(199, 139, 27), rgb(112, 216, 117));
    }

nav a:nth-child(5):hover ~ #indicator {
left: 43%;
background: linear-gradient(130deg, rgb(27, 87, 199), rgb(176, 216, 112));
    }

nav a:nth-child(6):hover ~ #indicator {
left: 53%;
background: linear-gradient(130deg, rgb(150, 37, 37), rgb(216, 112, 185));
}
nav a:nth-child(7):hover ~ #indicator {
left: 65%;
background: linear-gradient(130deg, rgb(18, 19, 18), rgb(112, 136, 216));
}
nav a:nth-child(8):hover ~ #indicator {
left: 76.5%;
background: linear-gradient(130deg, rgb(236, 65, 65), rgb(216, 168, 112));
}
nav a:nth-child(9):hover ~ #indicator {
left: 85.5%;
background: linear-gradient(130deg, rgb(18, 19, 18), rgb(112, 136, 216));
}
nav a:nth-child(10):hover ~ #indicator {
left: 93.5%;
background: linear-gradient(130deg, rgb(236, 65, 65), rgb(216, 168, 112));
}


#banner {
    max-width: fit-content;
    display: flex;
    margin: auto;
    margin-top: 50px;
}


#banner img {
    width: 500px;
    height: 500px;
    border: solid;
}

.container {
    font-size: 25px;
    background-color: black;
    display: flex;
    border: solid;
    border-radius: 10px;
}

.item {
    background-color: white;
    padding: 10px;
    text-align: center;
}

.heading {
    margin-top: 70px;
    font-size: 35px;
    text-align: center;
}


.grid-container {
    margin: 100px;
    grid-gap: 2px;
    display:grid;
    grid-template:
    'header header header'
    'sidebar article article'
}

.header {
    grid-area: header;
    font-size: 16px;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
}
.article {
    grid-area: article;
}
.grid-header {
    font-size:20px;
}
.grid-item {
background-color: #D9E8FB;
padding: 10px;
}

.grid-item {
    border:solid;
    background-color: #FBF4F0;
    padding: 5px;
}
/* Meme */
.meme_container {
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

img {
    width: 300px;
    height: 300px;
    border: solid;
    margin: 5px;
}


.meme_header {
    text-align: center;
    margin-bottom: 50px;
}

/* footer */

#container_footer{
    margin:50px;
    display: flex;
}


.form_question {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
a {
    color: #673ab7;
    text-decoration: none;
}

#questions {
    text-align: center;
    margin: auto;
    margin-top: 50px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}